DEBUG=True
SECRET_KEY=test
ENCRYPTING_KEY=test
DJANGO_SETTINGS_MODULE=config.settings.dev

USE_CACHE=True
REDIS_LOCATION="redis://127.0.0.1:6379"

EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=test@test.com.ng
EMAIL_HOST_PASSWORD=test
DEFAULT_FROM_EMAIL=test@test.com.ng
DEFAULT_COMPANY_EMAIL=test@test.com.ng

DB_NAME=test
DB_USER=test
DB_PASSWORD=test


# Database for code testing
DB_DEFAULT=postgres
TEST_DB_USER=test
TEST_DB_PASSWORD=test
